
.temp{
    margin-left:10px;
    margin-top:0px;
    font-size: 25px;
    
    display:inline;
}
.condition{
   
    margin-left:10px;
    font-weight: 500;
}
.temp-max{
    
    margin-left:10px;
    font-weight: 500;
}
.temp-min{
 
    margin-left:10px;
    font-weight: 500;
}
.details{
  
    margin-left:10px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.cardbox{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.cardone{

    width: 130px;
    height: 50px;
    margin-left:10px;
    margin-top:20px;
}
.wind{
 
    margin: 0;
  
} 
.wind-speed{
  
    margin:0;
   
}
.foot{
    text-align: center;
}