.box{
border-radius: 10px;
 background-color: #111B22;
 border:1px solid white;
    width: 100vw;
    max-width: 360px;
    height: 90vh;
    position: relative;
     overflow: auto;   
  scrollbar-width: none; 
}
.box::-webkit-scrollbar {
  display: none;  
}